<div class="container-fluid wrapper">
    <form #searchForm="ngForm" (ngSubmit)="searchForm.form.valid && getUserData()" *ngIf="!isLoading">
        <input type="text" class="searchInput" placeholder="Enter user name" [(ngModel)]="searchTerm"
            name="searchTerm" />
        <span class="error text-center" *ngIf="isError">Please enter user name
        </span>
        <button class="btn searchBtn">Search</button>
    </form>
</div>


<div class="container-fluid">
    <p>Search for your github page or someone you know.</p>
</div>